{
  "openapi": "3.0.0",
  "servers": [{ "uri": "/$STAGE" }],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorMessage": {
            "type": "string"
          },
          "errorType": {
            "type": "string"
          },
          "stackTrace": {
            "type": "string"
          }
        }
      },
      "Thing": {
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "info": {
    "title": "",
    "description": "",
    "version": "8c497cc0-d381-408a-b55d-6636dabd5672"
  },
  "paths": {
    "/things/{id}": {
      "get": {
        "operationId": "get-thing",
        "summary": "Get thing",
        "description": "Get thing by id",
        "responses": {
          "200": {
            "description": "Thing data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thing"
                }
              }
            }
          },
          "409": {
            "description": "Status 409 Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
